*{
    box-sizing: border-box;
}
.container{
    width: 600px;
    height: 600px;
    margin: 50px auto;

}
.two::before{
content: "this is tooltip content";
    text-transform: capitalize;
    background-color: #000;
    color: #fff;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 54px;
    opacity: 0;
    transition-duration: 1.5s;
    transition-property: all;
    transition-timing-function: ease-in-out;
    position: absolute;
    left: -40%;
    top: -250%;
}
.two::after{
content: "";
    border-width: 15px;
    border-style: solid;
    border-color: #000 transparent transparent transparent;
    position: absolute;
    left: 50%;
    top: -90%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transition-duration: 1.5s;
    transition-property: all;
    transition-timing-function: ease-in-out;
    opacity: 0;
}

    .two {
        width: 120px;
        height: 40px;
        padding-right: 15px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        color: #fff;
        background-color: #f00;
        margin-top: 200px;
        margin-left: 40px;
        text-transform: capitalize;
        white-space: nowrap;
        position: relative;
        font-weight:bold;
        font-style: italic;
    }
.two:hover::before,
.two:hover::after{
  opacity: 1;
}